contacto.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="llibreta_contactes">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="contacte"
                    minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name ="nom" type ="xs:string"></xs:element>
                            <xs:element name ="edat" type ="xs:string"> </xs:element>
                            <xs:element name ="cognoms"></xs:element>
                            <xs:element name ="telefons"></xs:element>
                            <xs:element name ="direccio"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>